body {
    background-color: rgb(241, 241, 241);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: x-large;
    
}

#bg{
    width: 500px;
    height: 430px;
    background-color: rgb(39, 39, 39);
    margin: auto;
    margin-top: 7%;
    border-radius: 15px;
    position: relative;
    
}



.keys {
    width: 90px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
}

#display{
    width: 403px;
    height: 60px;
    background-color: white;
    text-align: right;
}


.equalkey {
    height:108px;
    background-color: rgb(238, 57, 57);
}



table {
    border-collapse: separate;
    border-spacing: 0.5em;
    margin: auto;
    position: absolute;
    left: 35px;
    right: 45px;
    top: 17px;
    bottom: 25px;
    display: table-cell;
}

@media (max-width:530px) {
    .container {
        padding-left:0px;
    }
}

